<mat-card class="mb-4">
    <div class="flex justify-between">
        <div>
            <button mat-button [matMenuTriggerFor]="sortByMenu">
            </button>
            <mat-menu #sortByMenu="matMenu">
            </mat-menu>
        </div>
        <div class="items-center">
            <div>
                <button mat-button [matMenuTriggerFor]="menu">
                </button>
                <mat-menu #menu="matMenu">
                </mat-menu>
            </div>
            <button (click)="onColumnsUpdated(1)">
                <mat-icon>view_list</mat-icon>
            </button>
            <button (click)="onColumnsUpdated(3)">
                <mat-icon>view_module</mat-icon>
            </button>
            <button (click)="onColumnsUpdated(4)">
                <mat-icon>view_comfy</mat-icon>
            </button>
        </div>
    </div>
</mat-card>