@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.price-txt{
    font-size: 24px;
    color: tomato;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

.card-item{
    border: 2px solid #fb6376;
    border-radius: 20px 0px 20px 0px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 10px #fcb1a6;
    background-color:  	#ffdccc;
}

.img-card{
    border-radius: 10px;
}